*{
    box-sizing: content-box;
}
/* BODY */

body{
    font-family: 'Nunito', sans-serif;
    background-color: #D4F4DD;
    width: 100%;
    color: #4B1D3F;
    margin: 0;
    padding: 0;
}

/* MAIN */

main{
    width: 60%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.header{
    background-image: url('../img/pattern.jpg');
    background-repeat: repeat;
    width: 100%;
    text-align: center;
    padding-bottom:0; 
}

img.perfil{
    border-radius: 50%;
    width: 300px;
    padding-top: 30px;
    outline-width: 50px;
}

.header h1{
    font-size: 100px;
    color: #4B1D3F;
    margin: 10px;
    font-family: 'Great Vibes', cursive;
}

.header h2{
    margin: 0px;
    color: #4B1D3F;
}

a.personalemail{
    text-decoration: none;   
    color: #D4F4DD;
    background-color: #4B1D3F;
    padding: 5px 10px 5px 10px;
}

a.personalemail:hover{
    color: #4B1D3F;
    background-color: #D4F4DD;
}

/* MENU */

nav{
    background-color: #4B1D3F;
    padding: 10px;
    margin-top: 30px;
}

.nav-list-item{
    background-color: #4B1D3F;
    width: 100%;
    display: inline;
    margin: 0 20px 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #D4F4DD;
}

a:hover{
    color: #4B1D3F;    
}

    /*color: inherit - HERDA AS PROPRIEDADES DO PAI;*/

/* CONTEUDO */

section{
    display: flex;
    border-bottom: 1px solid #4B1D3F;
    padding: 30px 0 30px 0;
}

section.borda{
     border: none;
}

section h3{
    color: #4B1D3F;
    font-size: 20px;
    width: 20%;
    min-width: 340px;
    text-align: right;
    margin-right: 50px;
    margin-top: 0;
}

section{
    display: flex;
    border-bottom: 1px solid #4B1D3F;
    padding: 30px 0 30px 0;
}

section:first-child{
    margin: 20px 0 0 0;
}

ul{
    padding: 0px;
    max-width: 100%;
}

ul li{
    list-style-type: square;
    list-style-position: inside;
}

ul.margem{
    margin: 0;
}

p.margem-p{
    margin: 0;
}

p.margem-inter{
    margin-bottom: 0;
}

h4{
    display: inline;
    color: #D4F4DD;
    background-color: #4B1D3F;
    margin: 0 0 10px 0;
    padding: 0 5px 0 5px;
}

h5{
    margin-top: 0;
    margin-bottom: 0;
}

/* RODAPÉ PRINCIPAL */

footer{
    background-color: #4B1D3F;
    text-align: center;
    color: #D4F4DD;
    width: 100%;
    padding: 100px 0 0px 0;
}

footer a{
    color: #D4F4DD;
}

p.contato{
    display: inline;
    margin: 50px;
    padding:0;
}

img.tamanho{
    width: 40px;
}

img.cont{
    width: 15px;
    padding-right: 5px;
}

.telefone{
    padding-top: 50px;
}

a.personal{
    text-decoration: none;
}

a.personal:hover{
    background-color: #D4F4DD;
    color: #4B1D3F;
}

/*SEGUNDO RODAPÉ*/

div.rodapeclaro{
    font-size: 15px;
    background-color: #5C244E;
    align-content: center;
    padding: 20px 0 20px 0;
}

a.carola{
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    background-color: #5C244E;
    text-decoration: none;
    color: #D4F4DD;
}

a.carola:hover{
    color: #5C244E;
    
}

/* display flex pega filhas diretas do elemento, ao adicionar uma div dentro de outra div ele pega a primeira e não a segunda, que por padrão é block. Logo o conteudo da segunda não ficará alinhado.*/

